*
{
    margin: 0;
    padding: 0;
}

<*___________navigationbar___________*>
#nav-bar
{
    position: absolute;
    top: 0;
    z-index: 10;
    color: aqua;
    background-color: blue;
}
.navbar-brand img
{
    height: 80px;
    padding-left: 70px;
}
.navbar-nav li
{
    padding: 0 10px;
}
.navbar-nav a
{
    float: right;
    text-align: left;
}
#nav-bar ul li a:hover
{
    color: #007bff!important;
} 
.navbar
{
    background: #fff;
}
.navbar-toggler
{
    border: none!important;
}
.nav-link
{
    color: #555!important;
    font-weight: 600;
    font-size: 16px;
}
/*______slider________*/
#slider
{
    width: 100%;
}
.carousel-caption
{
    top: 50%;
    transform: translateY(-50%);
    bottom: initial!important;
}
.carousel-caption h5
{
    color: #fff;
    font-size: 42px;
}
/*_________About us______________*/
#About us
{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555;
}
#About us .btn
{
    margin-top: 20px;
    margin-bottom: 30px;
}
.About-contant
{
    padding-top: 20px;
}
/*_____________services____________*/
#services
{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(maxresdefault.jpg);
    background-size: cover;
    background-position: center;
    color: #efefef !imporatant;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
}
#services h1
{
    text-align: center;
    color: #efefef !important;
    padding-bottom: 10px; 
}
#services h1::after
{
    content: '';
    background : #efefef;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}
.services
{
    margin-top: 40px;
    
}
.icon
{
    font-size: auto;
    margin:  auto;
    padding: auto;
    height: auto;
    width: auto;
    border: auto #fff;
    border-radius: auto;
}
.services p
{
    font-size: 14px;
    margin-top: 20px;
    color: #ccc;
}
.services .col-md-3:hover{
    background: #007bff;
    cursor: pointer;
    transition: 0.7s;
}
.icon{
    color: white;
}
/*___________________OWNER_________________*/
#OWNER
{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555;
}
h1
{
    text-align: center;
    color: #555 !important;
    padding-bottom: 10px;
}
h1::after{
    content: '';
    background: #007bff;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
    
}
.profile-pic
{
    margin-top: 25px;
}
.profile-pic .img-box
{
    opacity: 1;
    display: block;
    position: relative;
}
.profile-pic .img-box img
{
    filter: grayscale(1);
    
}
.profile-pic .img-box img:hover
{
    filter:  grayscale(0);
    cursor: pointer;
    
}
.profile-pic h2
{
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
    color: #007bff !important;
}
.profile-pic h3
{
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
    
}
#OWNER  .fa
{
    height: 25px;
    width: 25px;
    color: #007bff !important;
    background: #fff;
    padding: 4px;
    border-radius: 50%;
}
.img-box ul
{
    padding: 15px 0;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    
}
.img-box ul li
{
    padding: 5px;
    display: inline-block;
}
.img-box:hover ul
{
    opacity: 1;
}
.img-box ul,.img-box ul li
{
    transition: 0.5s;
}
/*________________promo____________________*/
#promo
{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(IMG_20170606_081045358_HDR-e1515757318140.jpg);
    background-size: cover;
   
    color: #fff;
    background-attachment: fixed;
    text-align: center;
    padding : 100px;
    font-family: sans-serif;
    font-size: 38px;
}
/*_____________________price plans_________________________*/
#price
{
    padding: 40px 0;
    background: #efefef;    
}
.single-price
{
    margin: 10px auto;
    display: inline;
    float: left;
    width: 100%;
    background-color: #fff;
    transition: 0.5s;
}
.single-price:hover{
    box-shadow: 0 2px 20px #333;
}
.price-head
{
    background-color: #2196f3;
    display: inline;
    float: left;
    padding: 10px 5px;
    text-align: center;
    width: 100%;
}
.price-head h2
{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 5px;
    text-transform: uppercase;
}
.price-head p
{
    font-size: 25px;
    color: #ccc;
    font-weight: bold;
    line-height: 30px;
    
}
.price span
{
    font-size: 15px;
    
}
.price-content
{
    display: inline;
    float: left;
    width: 100%;
    padding: 0 15px;
}
.price-content ul li
{
    border-bottom: 1px solid #efefef;
    padding: 15px 10px;
    list-style: none;
    
}
ul li:last-child{
    border: none;
    
}
.fa-check-circle
{
    color: aqua;
    margin-right: 10px;
    font-size: 20px;
}
.price-button
{
    display: inline;
    float: left;
    padding: 15px 15px 30px;
    text-align: center;
    width: 100%
}
.buy-btn
{
    background-color: #2196f3;
    border-radius: 3px;
    display: inline-block;
    font-size: 18px;
    padding: 15px 50px;
    transition: 0.5s;
}
.buy-btn:hover{
    border-color: 1px solid #fff;
    background-color: #3f51b5;    
}
a
{
    text-decoration: none!important;
    color: #fff !important;
}
/*____________________photos___________________*/
div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/*--------------get in touch----------------*/
#Contact
{
    background: #efefef;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color:  white;
    
}
.contact-form
{
    padding: 15px;
}
.form-control
{
    border-radius: 1 !important;
    border: black !important;
}
::placeholder
{
    color: dimgray !important;
}
.follow
{
    background: #fff;
    padding: 10px;
    margin: 15px;
}
.contact-info .fa
{
    margin: 10px;
    color: #007bff;
    font-weight: bold;
}
/*__________________footer______________*/
#footer
{
    background: #333;
    color: #fff;
    padding: 12px;
}
.fa-heart-o
{
    margin: 3px;
    color: red;
}
.carousel-caption
{
    position: absolute;
    font-family: cursive;
    text-align: top;
}
#h1
{
    color: blue;
    text-align: left;

}
#form-inline
{
    text-align: right;
}
#image
{
    border-image-outset: blue;
    position: static;
}
#Login
{
    background: #efefef;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color:  white;
}
.form-control
{
    border-radius: 1 !important;
    border: black !important;
}
::placeholder
{
    color: dimgray !important;
}
.btn btn-primary
{
    object-position: bottom;
    
}
* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
#h1
{
    font-family: fantasy;
    font: auto;
    font-size: auto;
    font color: black;
}